BREVO_USER=a69588001@smtp-brevo.com
BREVO_KEY=xsmtpsib-99d8f8cd5f305058d0cd6751100d3d1c52959533ca801031974c7e613abf36d9-BggU06ycvBsCcX2K
BREVO_FROM=noreply@entityy.site
ADMIN_USERNAME=Proton
ADMIN_PASSWORD=howdahelldoyouhavethispassword419#@
GOOGLE_CLIENT_ID=291873461377-r619stf46a1fn7oe1kf2uknrjl51udeo.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_REDIRECT_URI=https://entityy.site/auth/oauth/callback
SUPPORT_SESSION_SECRET=624585ee6fce1cc6d9f275949fb250a428414c4d3f94dafe9a02837737020ae2
SUPPORT_URL=https://support.entityy.site
APP_URL=https://entityy.site
